<app-page-header title="Action / Coeur d'or" img="assets/img/logos/Coeur d_Or 3.png"  [cdo]="true"></app-page-header>
<!-- <a href="/gdo/src/assets/img/logos/Shine Acad logo2.png" target="_blank" rel="noopener noreferrer"></a> -->
<!--================Action / Coeur d'or=================-->
<section class="blog_area single-post-area section-padding" style="padding: 60px 0 !important;">
  <div class="container">
     <div class="row">
        <div class="col-lg-8 posts-list">
           <div class="single-post">
              <!-- <div class="feature-img">
                 <img style="background-color: #f5e5d6;" class="img-fluid" src="assets/img/logos/Coeur d_Or 1.png" alt="">
              </div> -->
              <div class="blog_details">
                 <h2>COEUR D’OR.
                 </h2>
                 <ul class="blog-info-link mt-3 mb-4">
                    <li>Le pôle social de l’association.</li>
                 </ul>
                 <div class="quote-wrapper">
                  <div class="quotes" style="border-left: 2px solid #ffcc00;">
                    Personne n’est ni trop jeune ni trop vieux pour être utile. Nous ne sommes pas
                    responsables des malheurs des autres mais pouvons contribuer à leur bien-être à
                    travers des dons et aides de toutes sortes. Nous avons conscience des réalités de
                    notre époque et sommes en mesure d’apporter des solutions durables grâce à la
                    diversité de nos compétences et l’engagement de tous. Nous impliquer pour
                    notre communauté, c’est participer à rendre le monde meilleur.
                  </div>
               </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!--================ Action / Coeur d'or =================-->
