<app-page-header title="Action / Shine Academy" [sa]="true" img="assets/img/logos/Shine Acad logo1 .png"></app-page-header>

<!--================Action / Shine Academy=================-->
<section class="blog_area single-post-area section-padding" style="padding: 60px 0 !important;">
  <div class="container">
     <div class="row">
        <div class="col-lg-8 posts-list">
           <div class="single-post">
              <!-- <div class="feature-img">
                 <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
              </div> -->
              <div class="blog_details">
                 <h2>LA SHINE ACADEMY.
                 </h2>
                 <ul class="blog-info-link mt-3 mb-4">
                    <li> Le pôle éducatif de l’association.</li>
                 </ul>
                 <div class="quote-wrapper">
                  <div class="quotes" style="border-left: 2px solid #ffcc00;">
                    Face à l’évolution du continent, il est nécessaire d’avoir un éveil de conscience
                    et une mise à niveau. L&#39;éducation est un puissant facteur de changement et nous
                    avons la chance d’avoir des canaux de communication modernes et accessibles
                    pour SE FORMER et S’INFORMER.
                  </div>
               </div>
               <ul class="blog-info-link mt-3 mb-4">
                <li>Les formations</li>
                </ul>
                 <p class="excert">
                  C’est la mise en place de sessions d’apprentissage de différents modules utiles et
                  d’actualités pour optimiser son parcours. Se perfectionner permet de développer
                  des compétences supplémentaires et de mieux répondre aux attentes du marché
                  de l&#39;emploi.
                 </p>
                 <ul class="blog-info-link mt-3 mb-4">
                  <li>Les conférences (AUTOUR D’UNE VOIX)</li>
                  </ul>
                 <p>
                  Des panels instructifs pour accroître nos connaissances, et ne plus être isoler.
                  C’est également un partage d’expériences qui permettra d’agrandir notre réseau
                  de contacts
                 </p>
                 <ul class="blog-info-link mt-3 mb-4">
                  <li>Le mentorat</li>
                  </ul>
                 <p>
                  Il s’agit une forme d’accompagnement faite sur mesure. Chaque relation est
                  différente et permet au mentoré d’être encadré en fonction de ses objectifs et de
                  sa réalité professionnelle ou même personnelle.
                 </p>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!--================ Action / Shine Academy =================-->
